* {
  font-family: "Courier New", Courier, monospace;
}

.page_top {
  background-color: rgb(48, 79, 54);
}

.quote {
  background-color: rgb(175, 201, 180);
}

.action {
  background-color: rgb(71, 116, 80);
}

.footer {
  background-color: rgb(48, 79, 54);
}
